/* =============================================
			Theme Color
============================================= */
a,
p a,
p a:hover,
/*a:hover,*/
a:focus,
a:active,
.tg-stars i,
p a,
.tg-lightbox-content .formgroup span.note a,
.tg-category-content .tg-refresh:hover,
.tg-section-heading h2:after,
.tg-whychoseus h2,
.tg-testimonials-box h2,
.tg-postmata li a:hover,
.tg-testimonials-sliderbox:before,
.tg-testimonials-sliderbox:after,
.tg-hover-pattran,
.tg-column ul.tg-pkgs h4 a,
.tg-column ul.tg-links li:after,
.tg-column ul.tg-links li a:hover,
.tg-breadcrumb li a:hover,
.tg-breadcrumb li.active,
.tg-page-head h1,
.tg-result-content ul li a:hover,
.tg-result-price,
.tg-result-content ul li:after,
.tg-currencywidget ul li:hover label em,
.tg-pagination ul li.active a,
.tg-pagination ul li a:hover,
.tg-pagination ul li a:hover i,
.tg-counter i,
.tg-counter span,
.tg-team-member .tg-socialicon li a:hover i,
.tg-contact-form h2,
.tg-commenthead-right a:hover,
.tg-commenthead-right a:hover i,
.tg-single-post h2,
.tg-author-infobox h3 a,
.tg-widgetcategory ul li:hover a,
.tg-widgetcategory ul li:hover:after,
.tg-blogwidget ul .tg-post:hover .tg-post-content h3 a,
.tg-gallary-img .tg-socialicon li a:hover i,
.tg-filter-nav ul li a:hover,
.tg-filter-nav ul li a.active,
.tg-commingsoon-content h2,
.text .val,
.tg-ask-queation h2,
.tg-panel-body ul li:hover .tg-heading-border h3 a,
.tg-panel-body ul li:hover .tg-heading-border h3:after,
.tg-category-slider .item i,
.tg-home-slider .swiper-slide .tg-btnarea a.tg-btn:hover,.brandName {
  color: #b4a77b;
}
/* =============================================
			Theme Background Color
============================================= */
.tg-btn:hover,
.tg-nav ul li ul li a:after,
.tg-category-icon,
.tg-destination figure .tg-heading-border:after,
.tg-packages figure:hover .tg-heading-border:after,
.tg-post:hover .tg-heading-border:after,
.tg-testimonials-message .item .tg-heading-border:after,
.tg-column .tg-heading-border:after,
.tg-socialicon li a:hover,
.tg-column .tg-btn-more,
.tg-title:after,
.ui-slider .ui-slider-handle,
.tg-team-member:hover figcaption .tg-heading-border:after,
.tg-tagsbox .tg-tag:hover,
.tg-gallary-img:hover .tg-heading-border:after,
.tg-panel-body ul li:hover .tg-heading-border:after,
.tg-panel-title span .collapse.in,
.tg-home-slider .swiper-slide .tg-btnarea a.tg-btn {
  background: #b4a77b;
}
 {
  background: rgba(255, 108, 38, 0.9);
}
.tg-getaquickestimate {
  background-color: #591a22;
}
/* =============================================
			Theme Border Color
============================================= */
.swiper-container .swiper-slide .tg-btnarea a.tg-btn:before,
.tg-category-icon:after,
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls .owl-page span:hover,
.tg-socialicon li a:hover,
.tg-home-slider .swiper-slide .tg-btnarea a.tg-btn:hover:before {
  border-color: #b4a77b;
}
