.clock-canvas {
	height: 158px;
	border-radius: 50%;
	position: relative;
	background-color: rgba(255, 255, 255, .1);
}
.text {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	color: #333;
	font-size: 30px;
	font-weight: normal;
	text-align: center;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.text .type-time {
	font-size: 14px;
	line-height: 17px;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	border-bottom: 1px solid #333;
	padding: 0 0 10px;
	margin: 0 0 10px;
}
.text .val {
	font-size: 60px;
	line-height: 60px;
	margin: 0;
}
@media (min-width: 992px) and (max-width: 1199px) {
	.clock-canvas {height: 205px;}
}
@media (min-width: 768px) and (max-width: 991px) {
	.clock-canvas {height: 330px;}
	.clock-item {margin-bottom: 30px;}
}
@media (max-width: 767px) {
	.clock-canvas {height: 339px;}
	.clock-item {margin: 0 0 30px;}
}