/*
	Flaticon icon font: Flaticon
	Creation date: 15/02/2016 17:30
*/
@font-face {
	font-family: "Flaticon";
	src: url("../fonts/Flaticon.eot");
	src: url("../fonts/Flaticond41d.eot?#iefix") format("embedded-opentype"),
		 url("../fonts/Flaticon.woff") format("woff"),
		url("../fonts/Flaticon.ttf") format("truetype"),
		url("../fonts/Flaticon.svg#Flaticon") format("svg");
	font-weight: normal;
	font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	@font-face {
		font-family: "Flaticon";
		src: url("../fonts/Flaticon.svg#Flaticon") format("svg");
	}
}
[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
	font-family: Flaticon;
	font-size: 20px;
	font-style: normal;
}
.flaticon-aeroplane7:before{content: "\f100";}
.flaticon-airport10:before{content: "\f101";}
.flaticon-colosseum:before{content: "\f102";}
.flaticon-cross92:before{content: "\f103";}
.flaticon-cups17:before{content: "\f104";}
.flaticon-directional27:before{content: "\f105";}
.flaticon-eeuu2:before{content: "\f106";}
.flaticon-favorite31:before{content: "\f107";}
.flaticon-france1:before{content: "\f108";}
.flaticon-gps36:before{content: "\f109";}
.flaticon-group12:before{content: "\f10a";}
.flaticon-hotel39:before{content: "\f10b";}
.flaticon-islam63:before{content: "\f10c";}
.flaticon-left-arrow23:before{content: "\f10d";}
.flaticon-link63:before{content: "\f10e";}
.flaticon-list18:before{content: "\f10f";}
.flaticon-location8:before{content: "\f110";}
.flaticon-monument25:before{content: "\f111";}
.flaticon-multimedia-option336:before{content: "\f112";}
.flaticon-paris8:before{content: "\f113";}
.flaticon-plane17:before{content: "\f114";}
.flaticon-play-video3:before{content: "\f115";}
.flaticon-plus79:before{content: "\f116";}
.flaticon-symbol134:before{content: "\f117";}
.flaticon-symbol135:before{content: "\f118";}
.flaticon-transport599:before{content: "\f119";}
.flaticon-warning50:before{content: "\f11a";}