/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.border-md {
  border-width: 2px;
}

.btn-facebook {
  background: #405d9d;
  border: none;
}

.btn-facebook:hover,
.btn-facebook:focus {
  background: #314879;
}

.btn-twitter {
  background: #42aeec;
  border: none;
}

.btn-twitter:hover,
.btn-twitter:focus {
  background: #1799e4;
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
  min-height: 100vh;
}
.signupForm .input-group {
  width: 100%;
}
.signupForm .input-group i.fa {
  position: absolute;
  padding: 17px;
  z-index: 3;
  margin-top: 17px;
}

.signupForm .form-control {
  text-align: center;
  padding: 1.5rem 0.5rem;
  margin: 2vh 0;
}

.signupForm .form-control::placeholder {
  color: #ccc;
  font-weight: bold;
  font-size: 0.9rem;
}

.signupForm .form-control:focus {
  box-shadow: none;
}
